# Database: PostgreSQL
connectionUrl=jdbc:postgresql://{{teamcity_server_postgresql_db_host}}:5432/{{ teamcity_server_postgresql_db_name }}
connectionProperties.user={{ teamcity_server_postgresql_db_user}}
connectionProperties.password={{ teamcity_server_postgresql_db_password }}

# The maximum number of connections TeamCity can open on database server.
maxConnections=100

# Specifies whether TeamCity should check each jdbc connection before use.
# It reduces the system performance but avoids cases when the system uses
# a connection that was closed by the database server due to a time-out or this
# connection was broken during the previous operation.
testOnBorrow=true